app/result
app/source
app/valid_data
app/output
app/coordinate
app/GT_coordinate
app/Report.docx
app/Vertebra.pptx
app/__pycache__
app/VertebraSegmentation/coordinate
app/VertebraSegmentation/detect_data
app/VertebraSegmentation/extend_dataset
app/VertebraSegmentation/extend_detect_data
app/VertebraSegmentation/label_data
app/VertebraSegmentation/label_extend_dataset
app/VertebraSegmentation/labels
app/VertebraSegmentation/object_detect_label
app/VertebraSegmentation/original_data
app/VertebraSegmentation/original_split_data
app/VertebraSegmentation/save_model
app/VertebraSegmentation/splitting_dataset
app/VertebraSegmentation/temp
app/VertebraSegmentation/test
app/VertebraSegmentation/valid_data
app/VertebraSegmentation/xml
app/VertebraSegmentation/net/save

app/PyTorch_YOLOv3/checkpoints
app/PyTorch_YOLOv3/coordinate
app/PyTorch_YOLOv3/data/custom/images
app/PyTorch_YOLOv3/data/custom/labels
app/PyTorch_YOLOv3/output
app/PyTorch_YOLOv3/pre_img
